body {
  background-color: #294d62;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  padding: 30px 10px 20px 10px;
  max-width: 1100px;
}

.main {
  background-color: #c1af99;
  flex-grow: 10;
}

.side {
  background-color: #ffe6bf;
  flex-grow: 1;
}

h1,
h2,
h3 {
  font-family: Verdana, Arial, sans-serif;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 45px;
  color: #053059;
  margin-top: 10px;
}

.haasteenNumero {
  text-align: start;
  padding-left: 5px;
  font-size: 35px;
  margin: 10px;
}

.kysymyksenNumero {
  display: block;
  padding-left: 15px;
  padding-top: 0px;
  color: #294d62;
  font-weight: bolder;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 10px;
  margin-left: 10px;
}

.tietovisaKysymys {
  display: block;
  font-family: Verdana, Arial;
  font-size: 18px;
  font-weight: bolder;
  color: #053059;
  margin-bottom: 7px;
}

.tietovisanVastaus {
  display: block;
  text-align: left;
  font-family: Arial, Verdana;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}

.viimeinenRivi {
  margin-bottom: 0px;
}

input[type="radio"] {
  background-color: #fff;
  margin: 0;
  color: currentColor;
  width: 0.95em;
  height: 0.95em;
  border: 0.25em solid currentColor;
  border-radius: 50%;
  vertical-align: middle;
}

.lahetaVastaus {
  display: block;
  background-color: #2596be;
  color: white;
  border-color: #053059;
  width: 100px;
  height: 40px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 14px;
}

.lahetaVastaus:hover {
  background-color: #3cabd3;
}

.kysymys2 {
  display: none;
}

.rightAnswer {
  background-color: green;
  color: white;
}

.wrongAnswer {
  background-color: red;
  color: white;
}
